<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>Colin Viebrock</string>
	<key>category</key>
	<string>Export</string>
	<key>command</key>
	<string>sh parse.sh</string>
	<key>contact</key>
	<string>uggcf://tvguho.pbz/pivroebpx/RkcbegGbYneniryZvtengvba.fcOhaqyr</string>
	<key>description</key>
	<string>Exports the selected table(s) to Laravel migration files on the desktop.</string>
	<key>keyEquivalent</key>
	<string>^~@m</string>
	<key>name</key>
	<string>Export To Laravel Migration(s)</string>
	<key>output</key>
	<string>showashtml</string>
	<key>scope</key>
	<string>general</string>
	<key>tooltip</key>
	<string>Export the selected table(s) to Laravel migration file(s) in a Desktop folder</string>
	<key>uuid</key>
	<string>BAAD749B-F050-4F02-879C-333B581D2E23</string>
</dict>
</plist>
